@import url('https://fonts.googleapis.com/css?family=Anaheim');
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(bg.png) no-repeat;
    background-size: cover; 
}

h1 {
	color:  #00ff88;
	font-family: 'anaheim';
	font-size: 72px;
	text-align: center;
}
p {
	color: #ffffff;
	font-family: 'anaheim';
	font-size: 25px;
	text-align: center;
}
nav {
	position:fixed;
	top:0;
	margin: -40px;
	height: 250px;
	border-bottom: 1px solid #ffffff;
	font-family: 'Anaheim';
}
.navbar_primary li,
.user_nav li,
.nav-link {
    display: inline-block;
}

.navbar_primary li {
    margin-right: 15px;
}

    .navbar_primary .active { /* Add this class for active page */
         

        color: #333;
        border-bottom: 4px solid #FF6D00;
        padding-bottom: 16px;
    }

.nav-link:hover {
    border-bottom: 4px solid #FF6D00;
    padding-bottom: 16px;
}

a.nav-link:link {
	color: #ffffff;
	font-family: 'anaheim';
	font-size: 25px;
	text-align: center;
}

a.nav-link:visited {
	color: #ffffff;
	font-family: 'anaheim';
	font-size: 25px;
	text-align: center;
}

a.active:visited {
	color: #ffffff;
	font-family: 'anaheim';
	font-size: 25px;
	text-align: center;
}
a.active:link {
	color: #ffffff;
	font-family: 'anaheim';
	font-size: 25px;
	text-align: center;
}
img.logo {
	max-width: 100%;
	height: auto;
	width: auto;
	display: block;
	margin: 0 auto;
}
