@import url('https://fonts.googleapis.com/css?family=Anaheim');
body, html {
	font-family: 'anaheim';
	font-weight: 400;
	margin: 0;
	height: 100%;
	background-color: #252525;
}
h1 {
	padding: 0;
	color:  #000000;
	font-family: 'anaheim';
	font-size: 72px;
    text-align: center;
    margin:0;
}
p {
	color: #000000;
	font-family: 'anaheim';
	font-size: 25px;
	text-align: center;
}
header {
    background: #FFFFFFF;
}
.container {
    width: 80%;
    margin: 0 auto; 
	height:50px
}
header::after {
    content:'';
    display: table;
    clear: both;
}
.logo {
    float:left;
    padding: 10px 0;
}
nav {
    float:center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    font-family: 'anaheim';
	font-size: 20px;
	position: relative;
}
nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'anaheim';
    font-size: 20px;
}
nav a:visited {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'anaheim';
    font-size: 20px;
}
nav a:hover {
    color: #000000;
    font-size: 20px;
}
nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color:#000000;
	position: absolute;
	top: 0;
	transition: all ease-in-out 250ms;
}
nav a:hover::before {
	width:100%;
}
